---
const personalImageAlt = "Sayyid Aziz";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div class="order-2 md:order-1 w-full max-w-xl">
    <div class="bg-white dark:bg-gray-800 shadow-lg rounded-2xl p-6 border border-gray-200 dark:border-gray-700">
      <p class="mb-4 text-pretty">
        My name is <strong class="text-yellow-500 dark:text-yellow-100 font-normal font-mono">Sayyid Syafiq Abdul Aziz</strong>. I am passionate about technology and focused on mastering web and mobile app development. Currently, I am 21 years old.
      </p>

      <p class="text-pretty">
        I graduated from SMK N 2 Karanganyar, majoring in Software Engineering (2022), and I am currently pursuing my studies at Universitas Terbuka Surakarta in the Information Systems program. With a strong foundation in software development, I specialize in creating dynamic and responsive web and mobile applications. I am eager to contribute my skills to innovative projects and continuously grow in the tech industry.
      </p>
    </div>
  </div>
</article>