---
import ExperienceItem from "./ExperienceItem.astro"

// Data pengalaman
const EXPERIENCIE = [
  {
    date: "Jun 2022 - Jun 2023",
    title: "Information Technology Staff",
    company: "SAS",
    description: "Develop and maintain desktop applications using C#, develop and maintain web applications using Laravel, Epicor ERP, and maintain hardware.",
    logo: "sas.jpg"
  },
  {
    date: "Des 2021 - Feb 2022",
    title: "Web Developer - Intern",
    company: "Kusuma Kreasi Utama",
    description: "Build websites using Laravel.",
    logo: "kku.jpeg"
  }
];
---

<div class="max-w-screen-lg mx-auto py-12">
  <h2 class="text-3xl font-bold text-center text-gray-800 dark:text-gray-100 mb-8">Experience</h2>
  <div class="space-y-8">
    {EXPERIENCIE.map((experience) => (
      <ExperienceItem {...experience} />
    ))}
  </div>
</div>
