---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Jun 2023 -  Present",
    title: "Fullstack Developer",
    company: "Cipta Solutindo Tech",
    description: "FullStack Developer, building web-based software using Laravel, CodeIgniter, React JS, and creating APIs",
    link: "https://www.ciptasolutindo.id/",
    logo: "cipta.jpg"  // Add the logo URL here
  },
  {
    date: "Jun 2022 - Jun 2023",
    title: "Junior Programmer - IT staff",
    company: "SAS",
    description: "Develop Desktop Application base C# , Epicor ERP , Maintenance, Hardware Support",
    link: "https://www.sas-autoparts.com/",
    logo: "sas.jpg"  // Add the logo URL here
  },
  {
    date: "Des 2021 - Feb 2022",
    title: "Web Developer - Intern",
    company: "Kusuma Kreasi Utama",
    description: "Build Website with Laravel",
    link: "https://eventkampus.com/vendor/121/kusuma-kreasi-utama",
    logo: "kku.jpeg"  // Add the logo URL here
  },
]

---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
