---
const personalImageAlt = "Sayyid Aziz";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import Instagram from "./icons/Instagram.astro";
import GitHub from "@/components/icons/GitHub.astro";
import CakeResume from "@/components/icons/CakeResume.astro";
---

<style>
@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2s infinite;
}
</style>

<div class="max-w-xl mx-auto text-left">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/profile.jpeg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/sayyidazizii/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Student & Programmer</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hallo Everyone <span class="wave">👋</span> <br> I am Sayyid Aziz
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
  </p>
  <nav class="flex flex-wrap gap-6 mt-8">
     <SocialPill href="https://www.instagram.com/sayyidazizii" class="flex items-center gap-2">
      <Instagram class="size-4" />
      <span class="text-lg font-medium">Instagram</span>
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/sayyidazizii/" class="flex items-center gap-2">
      <LinkedInIcon class="size-4" />
      <span class="text-lg font-medium">LinkedIn</span>
    </SocialPill> 
    <SocialPill href="https://github.com/sayyidazizii/" class="flex items-center gap-2">
      <GitHub class="size-4" />
      <span class="text-lg font-medium">GitHub</span>
    </SocialPill> 
    <SocialPill href="https://www.cakeresume.com/sayyid-syafiq-abdul-aziz" class="flex items-center gap-2">
      <CakeResume class="size-4" />
      <span class="text-lg font-medium">cv</span>
    </SocialPill>
  </nav>
</div>
