<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="group block w-full p-4 mb-4 border rounded-xl bg-white dark:bg-gray-900 dark:border-gray-700 dark:text-white text-gray-900 shadow-md transition-all duration-300"
>
  <div class="transition-all child-border">
    <slot />
  </div>
</a>

<style>
@keyframes borderGlow {
  0% {
    border-color: #facc15;
    background-color: rgba(250, 204, 21, 0.1); /* Glow effect on background */
    box-shadow: 0 0 0 0 rgba(250, 204, 21, 0.4);
  }
  50% {
    border-color: #facc15;
    background-color: rgba(250, 204, 21, 0.2); /* Increase background glow */
    box-shadow: 0 0 10px 4px rgba(250, 204, 21, 0.5);
  }
  100% {
    border-color: #facc15;
    background-color: rgba(250, 204, 21, 0.1); /* Glow effect on background */
    box-shadow: 0 0 0 0 rgba(250, 204, 21, 0.4);
  }
}

.group:hover .child-border {
  animation: borderGlow 1.5s infinite;
  border-color: #facc15;
  background-color: rgba(250, 204, 21, 0.1); /* Background glow */
}
</style>
